---
title: A page for you
layout : base.njk
---
<div class="container">
    <h1>This page is for you </h1>
    <div class="vibes">
      You are great!
    </div>
    <div class="love">
      💌
    </div>
  </div>